<div class="flex justify-end mb-1">
  <%= form_with url: list_student_details_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "student_details" } do |form| %>
    <%= form.text_field :q,
      placeholder: "Search",
      class: "border border-blue-500 rounded p-2",
      autocomplete: "off",
      data: { action: "input->search-form#search" }
    %>
  <% end %>
</div>
<%= render "table", student_details: @student_details, pagy: @pagy %>
